<section class="content">
    <div class="banner">
        <div class="swiper-container swiper-banner">
            <div class="swiper-wrapper swiper-con">
                <img src="Content/img/banner1.jpg" alt="banner" class="swiper-slide">
                <img src="Content/img/banner2.jpg" alt="banner" class="swiper-slide">
                <img src="Content/img/banner3.jpg" alt="banner" class="swiper-slide">
                <img src="Content/img/banner4.jpg" alt="banner" class="swiper-slide">
                <img src="Content/img/banner5.jpg" alt="banner" class="swiper-slide">
                <img src="Content/img/banner6.jpg" alt="banner" class="swiper-slide">
                <img src="Content/img/banner7.jpg" alt="banner" class="swiper-slide">
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="list">
        <ul class="list-con">
            <li>
                <i class="fa fa-car fa-2x bg-olive"></i>

                <p>车商城</p>
            </li>
            <li>
                <i class="fa fa-address-card fa-2x bg-orange"></i>

                <p>分期购车</p>
            </li>
            <li>
                <i class="fa fa-ticket fa-2x bg-red"></i>

                <p>团购活动</p>
            </li>
            <li>
                <i class="fa fa-glide fa-2x bg-blue"></i>

                <p>找二手车</p>
            </li>
        </ul>
    </div>
    <div class="tit">
        <img src="Content/img/img1.jpg" alt="title">
    </div>
    <div class="ownerServer">
        <h3>车主服务</h3>

        <div class="ownerServer-con">
            <ol>
                <li>
                    <i class="fa fa-viacoin fa-2x text-red"></i>

                    <p>油卡充值</p>
                </li>
                <li>
                    <i class="fa fa-vcard-o fa-2x text-green"></i>

                    <p>低价保险</p>
                </li>
                <li>
                    <i class="fa fa-venus-double fa-2x text-blue"></i>

                    <p>4S店保养</p>
                </li>
                <li>
                    <i class="fa fa-venus fa-2x text-green"></i>

                    <p>品质轮胎</p>
                </li>
            </ol>
            <ol>
                <li>
                    <i class="fa fa-hourglass fa-2x text-orange"></i>

                    <p>车品商城</p>
                </li>
                <li>
                    <i class="fa fa-hotel fa-2x text-blue"></i>

                    <p>洗车</p>
                </li>
                <li>
                    <i class="fa fa-hacker-news fa-2x text-orange"></i>

                    <p>违章代缴</p>
                </li>
                <li>
                    <i class="fa fa-handshake-o fa-2x text-red"></i>

                    <p>免费测评</p>
                </li>
            </ol>
            <ol>
                <li>
                    <i class="fa fa-scribd fa-2x text-blue"></i>

                    <p>查周边</p>
                </li>
                <li>
                    <i class="fa fa-sliders fa-2x text-green"></i>

                    <p>车主卡</p>
                </li>
                <li>
                    <i class="fa fa-safari fa-2x text-blue"></i>

                    <p>领券包养</p>
                </li>
                <li>
                    <i class="fa fa-scissors fa-2x text-light-gray"></i>

                    <p>全部</p>
                </li>
            </ol>
        </div>
    </div>
    <div class="sale">
        <h3>
            <span>限时抢购</span>

            <div class="time">
                <b>13</b>：<b>13</b>：<b>13</b>
            </div>
        </h3>

        <div class="isrollers">
            <dl>
                <dt>
                    <img src="Content/img/img2.jpg" alt="img">
                    <span>热销</span>
                </dt>
                <dd>
                    <h4>补胎工具简易套装</h4>

                    <p>￥9.9元 <span>28元</span></p>
                </dt>
            </dl>
            <dl>
                <dt>
                    <img src="Content/img/img3.jpg" alt="img">
                    <span>爆款</span>
                </dt>
                <dd>
                    <h4>车用椅背挂钩</h4>

                    <p>￥9.9元 <span>28元</span></p>
                </dd>
            </dl>
        </div>
    </div>
    <div class="zone">
        <h3>
            <span>活动专区</span>

            <div class="more">
                <span>更多活动 </span><i class="fa fa-angle-right"></i>
            </div>
        </h3>
        <div class="zone-con">
            <div class="con">
                <p>测身价炫富</p>

                <p>身价大PK</p>
                <img src="Content/img/icon1.jpg" alt="icon1">
            </div>
            <div class="con">
                <p>全场0利率</p>

                <p>购车无压力</p>
                <img src="Content/img/icon2.jpg" alt="icon2">
            </div>
            <div class="con">
                <p>好车分期</p>

                <p>定制专属方案</p>
                <img src="Content/img/icon3.jpg" alt="icon3">
            </div>
        </div>
    </div>
    <div class="Lovely">
        <h3>
            <span>猜你喜欢</span>

            <div class="more">
                <span>更多 </span><i class="fa fa-angle-right"></i>
            </div>
        </h3>

        <div class="Lovely-con">
            <dl>
                <dt>
                    <img src="Content/img/che1.jpg" alt="che1">
                </dt>
                <dd>
                    <h2>上海大众-全新旅途L</h2>
                    <h4>上汽大众-全新旅途L享2年0利率</h4>

                    <p>1元 <span>1.44万</span></p>
                </dt>
            </dl>
            <dl>
                <dt>
                    <img src="Content/img/che2.jpg" alt="che2">
                </dt>
                <dd>
                    <h2>上海大众-全新旅途L</h2>
                    <h4>上汽大众-全新旅途L享2年0利率</h4>

                    <p>1元 <span>1.44万</span></p>
                </dt>
            </dl>
        </div>
        <div class="Lovely-con">
            <dl>
                <dt>
                    <img src="Content/img/che3.jpg" alt="che3">
                </dt>
                <dd>
                    <h2>上海大众-全新旅途L</h2>
                    <h4>上汽大众-全新旅途L享2年0利率</h4>

                    <p>1元 <span>1.44万</span></p>
                </dt>
            </dl>
            <dl>
                <dt>
                    <img src="Content/img/che4.jpg" alt="che4">
                </dt>
                <dd>
                    <h2>上海大众-全新旅途L</h2>
                    <h4>上汽大众-全新旅途L享2年0利率</h4>

                    <p>1元 <span>1.44万</span></p>
                </dt>
            </dl>
        </div>
    </div>
</section>